@import url(//fonts.googleapis.com/css?family=Allerta%20Stencil);
@import url('https://fonts.googleapis.com/css?family=Play');
.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}

.responsive-calendar .controls h4 {
  display: inline;
}

.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}

.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}

.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}

.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}

.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}

.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}

.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}

.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}

.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}

.responsive-calendar .day.not-current a {
  color: #ddd;
}

.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

* {
  font-family: sans-serif;
}

body {
  padding-top: 7rem;
    font-family: 'Play', sans-serif;
}

.jumbotron {
  background-image: url("/img/hulls_angels.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f0f0f5;
  text-shadow: black -0.1rem 0.2rem;
}
.jumbotron p {
  font-size: 1.5em;
}

h2 {jalla+One
  font-weight: bold;jalla+One
}

nav.fixed-top {
  background-color:#f1fc02;
  font-weight: bold;
  box-shadow:0px 5px 10px grey;
}
nav.fixed-top a{
    color: black;
}

btn-primary {
  background-color: #660088;
}

nav.admin {
  background-color: #f4c242;
  color: white;
}
h1{
  font-family: 'Play', sans-serif;
  font-weight: bold;
}
footer{
  margin-top: 1rem;
  border-top:solid 1px grey;
  max-width:96%;
  margin-left:2%;
}
.map{
  height:20em;
}
.hidden{
  display:none;
}
dt{
  margin-top: 0.5rem;
}
dl.faq dt{
  margin-left: 2rem;
  margin-bottom: 1rem;
}
dl.faq dt:before{
  content: "+";
  height: 1rem;
  width: 1rem;
  text-align: center;
  line-height: 1rem;
  border: 1px solid #00000099;
  display: block;
  left: 1rem;
  position: absolute;
  box-shadow: black -0.1rem 0.2rem;
}
@media only screen and (min-width: 500px) {
  dl.faq dt:before{
    margin-left: inherit;
  }
  dl.faq dt:before {
      content: "+";
      height: 1.5rem;
      width: 1.5rem;
      text-align: center;
      line-height: 1.5rem;
      border: 1px solid black;
      display: block;
      left: -20px;
      position: absolute;
      box-shadow: #00000099 -0.1rem 0.2rem;

  }
}
h2 a {
  color:#444;
}
h2 a:hover {
  color: black;
}
.grey{
  color: grey;
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:0.6rem;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}
